.h-flex-grow-shrink {
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .h-flex-center-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .h-flex-vertical-align-child {
    display: flex;
    align-items: center;
  }
  
  .h-flex-grow {
    flex-grow: 1;
  }
  
  .h-flex-shrink {
    flex-shrink: 1;
    min-width: 200px;
  }
  
  .h-flex-shrink-no {
    flex-shrink: 0;
  }
  
  .h-flex-fixed-width {
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .h-filter-width {
    flex-basis: 230px;
  }
  
  .h-signup-button {
    height: 17px;
    span {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #6c757d;
    }
    .btn {
      font-weight: 900;
      color: #1f8ceb;
    }
  }
  
  .container-min-size {
    min-width: 1000px;
  }
  
  .overflow-x-auto {
    overflow-x: auto;
  }
  
  .overflow-y-auto {
    overflow-y: auto;
  }
  
  .overflow-y-hidden {
    overflow-y: hidden;
  }
  
  .h-m-b-10 {
    margin-bottom: 10px;
  }
  
  .h-confirm-button-width {
    min-width: 120px;
  }
  
  .h-confirm-button-big {
    min-height: 35px;
    min-width: 230px;
  }
  
  .h-box-shadow {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  }
  
  .secondary-menu-height {
    height: 44px;
  }
  
  .h-min-width-300 {
    min-width: 300px;
  }
  
  .position-absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  