@import '../../../node_modules/bootstrap/scss/bootstrap';
// Boostrap color override
$primary: #1f8ceb !default;
$danger: #d95555 !default;

@import 'colors';
@import 'fonts';
@import 'layout';
@import 'components';

%toast-common-styles {
  padding: 8px 15px;
  font-family: Helvetica, serif;
  border-radius: 2px;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.1),
    0 8px 8px -5px rgba(0, 0, 0, 0.25);
}

body {
  width: 100%;
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-bg-light:hover {
  background-color: lightgray;
}

.text-decoration--none:hover {
  text-decoration: none !important;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.h-border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

div.ToastContainer--container div.ToastContainer--progress {
  height: 3px;
  opacity: 0.8;
}

div.ToastContainer--container > div.ToastContainer--quick-notify-container {
  @extend %toast-common-styles;
  background: #28a745;
}

div.ToastContainer--container > div.ToastContainer--error-notify-container {
  @extend %toast-common-styles;
  background: #d8443a;
}

div.ToastContainer--container > div.ToastContainer--warn-notify-container {
  @extend %toast-common-styles;
  background: #f19900;
}

div.ToastContainer--container > div.ToastContainer--info-notify-container {
  @extend %toast-common-styles;
  background: #1f8ceb;
}

.bmc_dropdown-button:focus {
  outline: none;
  box-shadow: none;
}

.bmc_dropdown-menu {
  font-size: 13px;
}
