nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-container {
  margin: 0;
  height: 50px;
  //flex-grow: 1;
}

.nav-item div {
  line-height: 50px;
  float: left;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #000;
  height: 50px;
}

.nav-item--active div {
  float: left;
  line-height: 50px;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #2db7f5;
  height: 50px;
  border-bottom: 3px solid #2db7f5;
}